body {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: #e8ffff;
}

h1 {
  color: #0278ae;
  font-size: 3.5rem;
  margin: 50px auto 0 auto;
  font-family: "Sora", sans-serif;
}

h2 {
  color: #0278ae;
  font-size: 2rem;
  padding-bottom: 10px;
  font-family: "Rajdhani", sans-serif;
}

/* Sections */
.colored-section {
  background-color: #e8ffff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */
.navbar {
  text-align: right;
  margin: 20px 20px auto auto;
}

.navbar-button {
  padding-right: 10px;
  color: #0278ae;
  font-weight: bold;
}

/* Header Image */
.city {
  width: 100%;
  height: 600px;
}

/* Slideshow */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slide-item {
  display: none;
  padding: 7% 15%;
}

.slide-text {
  line-height: 1.5;
}

.slide-img {
  width: 30%;
  border-radius: 100%;
  margin: 20px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #0f3057;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: 0;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
