body {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: #e8ffff;
}

h1 {
  color: #0278ae;
  font-size: 3.5rem;
  margin: 50px auto 0 auto;
  font-family: "Sora", sans-serif;
}

h2 {
  color: #0278ae;
  font-size: 2rem;
  padding-bottom: 10px;
  font-family: "Rajdhani", sans-serif;
}

/* Sections */
.colored-section {
  background-color: #e8ffff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */
.navbar {
  text-align: right;
  margin: 20px 20px auto auto;
}

.navbar-button {
  padding-right: 10px;
  color: #0278ae;
  font-weight: bold;
}

/* Header Image */
.city {
  width: 100%;
  height: 600px;
}

/* Slideshow */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slide-item {
  padding: 7% 15%;
}

.slide-text {
  line-height: 1.5;
}

.slide-img {
  width: 30%;
  border-radius: 100%;
  margin: 20px;
}
